# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List of popular languages for Data Science
- List of Commonly used libraries by Data Scientists 
- Examples of Arithmetic Expressions in Python

Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. SQL
4. JAVA
5. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Matplotib
2. Numpy
3. SciPy
4. TensorFlow
5. ggplot

| Data Science Tools |
| ------------------ |
| Jupyter Notebook   |
| R                  |
| PyTorch            |
| Apache Hadoop      |
| Tensorflow         |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers.

In [5]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [6]:
200/60

3.3333333333333335

## Author
Darnell Hernandez